In [1]:
# Load library
import pandas as pd

In [2]:
## Create Feature Matrix
# Create features
df = pd.DataFrame({'Score': ['Low', 
                             'Low', 
                             'Medium', 
                             'Medium', 
                             'High']})

# View data frame
df

    Score
0     Low
1     Low
2  Medium
3  Medium
4    High

In [3]:
## Create Scale Map
# Create mapper
scale_mapper = {'Low':1, 
                'Medium':2,
                'High':3}

In [4]:
## Map Scale To Features
# Map feature values to scale
df['Scale'] = df['Score'].replace(scale_mapper)

# View data frame
df

    Score  Scale
0     Low      1
1     Low      1
2  Medium      2
3  Medium      2
4    High      3