In [1]:
import pandas as pd
from sklearn.datasets import make_regression

In [2]:
## Create Simulated Data
# Generate fetures, outputs, and true coefficient of 100 samples,
features, output, coef = make_regression(n_samples = 100,
                                         # three features
                                         n_features = 3,
                                         # where only two features are useful,
                                         n_informative = 2,
                                         # a single target value per observation
                                         n_targets = 1,
                                         # 0.0 standard deviation of the guassian noise
                                         noise = 0.0,
                                         # show the true coefficient used to generated the data
                                         coef = True)

In [3]:
## View Simulated Data
# View the features of the first five rows
pd.DataFrame(features, columns=['Store 1', 'Store 2', 'Store 3']).head()

    Store 1   Store 2   Store 3
0 -1.062085  0.532538 -2.353493
1  0.920245 -1.922963 -1.288721
2 -1.796212 -1.311244 -1.275928
3 -0.308993 -0.719528  0.453151
4  1.323060 -1.329064  1.260417

In [4]:
# View the output of the first five rows
pd.DataFrame(output, columns=['Sales']).head()

        Sales
0 -100.068024
1 -197.836615
2 -157.594026
3  -20.584660
4  -13.832643

In [5]:
# View the actual, true coefficients used to generate the data
pd.DataFrame(coef, columns=['True Coefficient Values'])

   True Coefficient Values
0                 0.000000
1                64.591151
2                57.134333