# Advanced For Loops in Python

## Tuples

In [1]:
x = (10,20,30,40,50)
for var in x:
    print("index "+ str(x.index(var)) + ":",var)

index 0: 10
index 1: 20
index 2: 30
index 3: 40
index 4: 50

In [3]:
x = [(1,2), (3,4), (5,6)]

for a, b in x:
    print(a, "plus", b, "equals", a+b)

1 plus 2 equals 3
3 plus 4 equals 7
5 plus 6 equals 11

## Dictionaries

In [4]:
stocks = {
        'AAPL': 187.31,
        'MSFT': 124.06,
        'FB': 183.50
    }

for key, value in stocks.items() :
    print(key + " : " + str(value))

AAPL : 187.31
MSFT : 124.06
FB : 183.5

## Strings

In [5]:
print("data science")
for c in "data science":
    print(c)

data science
d
a
t
a

s
c
i
e
n
c
e

## Numpy Arrays

In [6]:
import numpy as np
np.random.seed(0)  # seed for reproducibility
x = np.random.randint(10, size=6)
y = np.random.randint(10, size=6)

In [7]:
for val in x:
    print(val)

5
0
3
3
7
9

In [8]:
# creating our 2-dimensional array
z = np.array([x, y])

for val in z:
    print(val)

[5 0 3 3 7 9]
[3 5 2 4 7 6]

In [9]:
for val in np.nditer(z):
    print(val)

5
0
3
3
7
9
3
5
2
4
7
6

## Pandas DataFrames

In [10]:
import pandas as pd
df = pd.read_csv('gdp.csv', index_col=0)

for val in df:
    print(val)

Capital
GDP ($US Trillion)
Population

In [11]:
for label, row in df.iterrows():
    print(label)
    print(row)

Ireland
Capital                Dublin
GDP ($US Trillion)     0.3337
Population            4784000
Name: Ireland, dtype: object
United Kingdom
Capital                 London
GDP ($US Trillion)       2.622
Population            66040000
Name: United Kingdom, dtype: object
United States
Capital               Washington, D.C.
GDP ($US Trillion)               19.39
Population                   327200000
Name: United States, dtype: object
China
Capital                  Beijing
GDP ($US Trillion)         12.24
Population            1386000000
Name: China, dtype: object
India
Capital                New Delhi
GDP ($US Trillion)         2.597
Population            1339000000
Name: India, dtype: object
Germany
Capital                 Berlin
GDP ($US Trillion)       3.677
Population            82790000
Name: Germany, dtype: object

In [12]:
for label, row in df.iterrows():
    print(label + " : " + row["Capital"])

Ireland : Dublin
United Kingdom : London
United States : Washington, D.C.
China : Beijing
India : New Delhi
Germany : Berlin

In [13]:
for label, row in df.iterrows():
    df.loc[label,'gdp_per_cap'] = row['GDP ($US Trillion)']/row['Population '] * 1000000000000
print(df)

                         Capital  GDP ($US Trillion)  Population   \
Country
Ireland                   Dublin              0.3337      4784000
United Kingdom            London              2.6220     66040000
United States   Washington, D.C.             19.3900    327200000
China                    Beijing             12.2400   1386000000
India                  New Delhi              2.5970   1339000000
Germany                   Berlin              3.6770     82790000

                 gdp_per_cap
Country
Ireland         69753.344482
United Kingdom  39703.210176
United States   59260.391198
China            8831.168831
India            1939.507095
Germany         44413.576519

## The range() function

In [1]:
for i in range(3):
    print(i)

0
1
2

In [2]:
for i in range(1, 8):
    print(i)

1
2
3
4
5
6
7

In [3]:
for i in range(3, 16, 3):
    print(i)

3
6
9
12
15

In [4]:
languages = ['Spanish', 'English',  'French', 'German', 'Irish', 'Chinese']

for index in range(len(languages)):
   print('Language:', languages[index])

Language: Spanish
Language: English
Language: French
Language: German
Language: Irish
Language: Chinese

In [5]:
for index in range(6):
    print('Language:', languages[index])

Language: Spanish
Language: English
Language: French
Language: German
Language: Irish
Language: Chinese